@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

body {
	background-color: #d4edfc;
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: #d4edfc;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

/* .about{
	background-color: #d4edfc;
} */

.submit{
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#fd0;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:black;
	background-color: #fd0;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	
}




@media all and (max-width: 550px) {
    .contact-row {
        display: block;
        width: 100%;
    }
}




.header .info {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    margin-top: -1rem;
}

.header .meta {
    font-size: 1rem;
    margin-top: -2rem;
    opacity: 1;

}
.meta {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;

}
/* 
    NAV BAR
*/

header {
    display: flex;
    align-items: center;
	height: 4.5vw;
    justify-content: space-between;
    padding: 0.1rem 5rem;
    background: white;
}

.brand a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

header ul {
    display: flex;
    flex-direction: row;
}

header ul li {
    list-style-type: none;
    margin-left: 4rem;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 900;
}


header ul li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #fff;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

header ul li:hover::after {
    width: 2rem;
}


.banner-refresh {
    display: contents;
}

  
.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vw;
    min-height: 400px;
    max-height: 600px;
    min-width: 300px;
    color: rgb(0, 57, 97);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.mboutrecht.nl/wp-content/uploads/2020/10/MBO-Utrecht-2020-algemeen-52-1920x630.jpg);
    /* background: radial-gradient( #2A2541 40%,#15121e 100%);   */
    z-index: 0;
}

.header .info {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    margin-top: -1rem;
}


.meta {
    color: #fd0;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    position: absolute;
	left: 34rem;
    top: 50%;


}